body {
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: scroll;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
/*header --> */
header {
        max-width: 1086px;
        margin: 0 auto;
}
    .top-baner {
        display: flex;
    }
        .greeting-message {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65.75%;
            height: 28px;
            background-color: #1f7cba;
        }
            .greeting-message span {
                color:  #ffffff;
                font-size: 14px;
                font-weight: 600;
            }
                .greeting-message span em {
                    font-weight: 700;
                }
                    .ful-massage {
                        display: block;
                    }
                    .short-massage {
                        display: none;
                    }
        .client-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34.25%;
            height: 28px;
            background-color: #3498db;
        }
            .client-panel-list {
                display: block;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 1.2;
                text-align: right;
                text-align: center;
            }
                .client-panel-list li {
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 0 13px;
                }
                    .client-panel-list li a {
                        color: #ffffff;
                    }
    .top-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:  #34495e;
        max-width: 100%;
        height: 70px;
    }
        .top-navigation a {
            display: block;
            margin-left: 57px;
        }
        .fa-navicon {
            display: none;
            color: #919fae;
            font-size: 25px;
        }
            .fa-navicon:hover {
                color: #ffffff;
            }
        .navigation-menu {
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            text-align: right;
            margin-right: 50px;
        }
            .navigation-menu li {
                text-transform: uppercase;
                display: inline-block;
                
            }

                .navigation-menu li a {
                    color: #919fae;
                }
                .navigation-menu li a:hover {
                    text-decoration: none;
                    color: #ffffff;
                }
                .navigation-menu li a.active {
                    color: #ffffff;
                }



@media screen and (max-width: 1080px) {

header {
        max-width: 960px;
}
    .top-navigation a {
        margin-left: 30px;
    }
    .navigation-menu {
        margin-right: 30px;
    }
}
@media screen and (max-width: 960px) {
header {
     max-width: 768px;
}
     .greeting-message {
         width: 60%;
    }
        .greeting-message span {
            font-size: 13px;
        }
            .ful-massage {
                display: none;
            }
            .short-massage {
                display: block;
            }
    .client-panel {
         width: 40%;
    }
    .top-navigation a {
        margin-left: 25px;
    }
        .top-navigation a img {
            max-width: 85%;
            height: auto;
        } 
    .navigation-menu {
        margin-right: 20px;
    }
}
@media screen and (max-width: 768px) {
header {
     max-width: 600px;
}
    .greeting-message {
         width: 45%;
    }
        .greeting-message span {
            font-size: 11px;
        }
    .client-panel {
         width: 55%;
    }
.top-navigation {
    position: relative;
}
    .top-navigation a {
        margin-left: 50px;
    }
    .fa-navicon {
        position: absolute;
        display: block;
        right: 250px;
    }
    .navigation-menu {
        /* display: none; */
        position: absolute;
        right: 10px; 
        top: 20px;
        z-index: 1;
        }
        .navigation-menu li {
            display: list-item;
            min-width: 150px;
            text-align: left;
            background-color: #293136;
            /* padding: 5px 12px; */

        }
            .navigation-menu li a {
                margin: 0;
                padding: 6px 20px;
            }
                .navigation-menu li a:hover {
                    background-color: #7e8892;
                }

}