body {
	background-image: url(img/background.jpg);
    background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: scroll;
    background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
/*header --> */
header {
        max-width: 1086px;
        margin: 0 auto;
        display: block;
}
    .top-baner {
        display: flex;
    }
        .greeting-message {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65.75%;
            height: 28px;
            background-color: #1f7cba;
        }
            .greeting-message span {
                color:  #ffffff;
                font-size: 14px;
                font-weight: 600;
            }
                .greeting-message span em {
                    font-weight: 700;
                }
                    .ful-massage {
                        display: block;
                    }
                    .short-massage {
                        display: none;
                    }
        .client-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34.25%;
            height: 28px;
            background-color: #3498db;
        }
            .client-panel-list {
                display: block;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 1.2;
                text-align: right;
                text-align: center;
            }
                .client-panel-list li {
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 0 13px;
                }
                    .client-panel-list li a {
                        color: #ffffff;
                    }
    .top-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:  #34495e;
        max-width: 100%;
        height: 70px;
    }
        .top-navigation a {
            display: block;
            margin-left: 57px;
        }
        .fa-navicon {
            display: none;
            color: #919fae;
            font-size: 25px;
        }
            .fa-navicon:hover {
                color: #ffffff;
            }
        .navigation-menu {
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            text-align: right;
            margin-right: 50px;
        }
            .navigation-menu li {
                text-transform: uppercase;
                display: inline-block;
                
            }

                .navigation-menu li a {
                    color: #919fae;
                }
                .navigation-menu li a:hover {
                    text-decoration: none;
                    color: #ffffff;
                }
                .navigation-menu li a.active {
                    color: #ffffff;
                }
/*header <-- */
/* main --> */
main {
    display: block;
    max-width: 1086px;
    margin: 0 auto;
}
/* slider --> */
.slider-section {
    display: block;
}
#slider {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
	text-align: center;
}
#slides {
    display: block;
}
#slides article { 
	width: 20%;
	float: left;
}
#slides .image {
	width: 500%;
    line-height: 0;
}
#overflow {
    display: block;
	width: 100%;
	overflow: hidden;
}
#image {
    display: block;
}
article img {
	width: 100%;
}
#desktop:checked ~ #slider {
	max-width: 1086px;
}

#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
    background: url('img/chevron-left-solid.svg') no-repeat center;
    background-color: #34495e;
	float: left;
	margin: -50px 0 0 20px;
	display: block;
	height: 60px;
	width: 60px;
}
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){
    background: url('img/chevron-right-solid.svg') no-repeat center;
    background-color: #34495e;
	float: right;
	margin: -50px 20px 0 0;
	display: block;
	height: 60px;
	width: 60px;
}
#leftChevron {
    width: 5px;
    height: 5px;
}
label, a {
	cursor: pointer;
}
.slider-section input { 
	display: none;
}
#switch1:checked ~ #slides .image {
	margin-left: 0;
}
#switch2:checked ~ #slides .image {
	margin-left: -100%;
}
#switch3:checked ~ #slides .image {
	margin-left: -200%;
}
#controls {
    position: absolute;
    right: 0;
    top: 50%;
	width: 100%;
	height: 50px;
}
#active {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 6%;
}
#active label {
	border-radius: 10px; 
	display: inline-block;
	width: 100px;
    height: 100px;
    margin: 0 17px;
	background: #bbb;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
	outline: 5px solid #fff !important;
}
#slides .image {
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#controls label:hover {
	opacity: 0.95;
}
#controls label {
    opacity: 0.8;
	transition: opacity 0.2s ease-out;
}
/*slider <-- */
    .best-seller {
        display: flex;
        justify-content: center;
        height: 320px;
        background-color: rgba(255, 255, 255, 0.8);
    }
        .best-seller-left {
            display: flex;
            width: 43%;
            background-image: url(img/Yamaha-FG700S.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            
        }
            .best-seller-left h1 {
                margin-top: 15px;
                padding: 8px 0;
                background-color: #3498db;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 3px;
                max-height: 24px;
            }
                .fa-star {
                    font-size: 20px;
                }
        .b-s-description {
            width: 57%;
        }
            .b-s-wrapper {
                margin: 0 245px 0 63px;
            }
                .b-s-name, .product-name {
                    font-size: 24px;
                    color: black;
                    font-weight: bold;
                    line-height: 1.2;
                    text-align: left;
                    margin-top: 25px;
                    margin-bottom: 0;
                }
                    .b-s-name a:hover, .product-name a:hover {
                        text-decoration: none;
                        color: black;
                    }
                    .b-s-name a, .product-name a {
                        text-decoration: none;
                        color: black;
                    }
                .b-s-by, .product-by em {
                    font-size: 14px;
                    font-weight: 400;
                    color: #3498db;
                    text-align: left;
                }
                .b-s-cost {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 55px;
                    font-weight: 700;
                    color: black;
                    text-align: left;
                }
                    .b-s-cost span {
                        font-size: 28px;
                    }
                .a-button {
                    display: block;
                    width: 100%;
                    margin-bottom: 15px;
                    padding-bottom: 15px; 
                    padding-top: 15px;
                    outline: 3px solid #3498db;
                    color:  #3498db;
                    text-align: center;
                }
                    .a-button span {
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 800;
                        letter-spacing: 2px;
                    }
                /* rating star widget --> */
                
                .rating-caption {
                    position: absolute;
                    padding: 0;
                    margin-top: 20px;
                }
                /* Group */
        
                .rating-group {
                    /* margin-top: 10px; */
                    position: relative;
                    width: 90px;
                    height: 18px;
                    background-image: url(img/star-solid-off.svg);
                    background-size: 18px auto;
                    background-repeat: repeat-x;
                }
        
                .rating-group:focus-within {
                    outline: 0.1em solid #4a90e2;
                    outline-offset: 0.1em;
                }
                /* star */
                .rating-star {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 0;
                    height: 18px;
                    font-size: inherit;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-size: 18px auto;
                    background-repeat: repeat-x;
                }
        
                .rating-star:focus {
                    outline: none;
                }
        
                .rating-star:hover,
                .rating-star:checked {
                    background-image: url(img/star-solid-on.svg);
                }
        
                .rating-star:hover ~ .rating-star {
                    background-image: url(img/star-solid-off.svg);
                }
                /* Options */
                .rating-star:nth-of-type(1) {
                    z-index: 5;
                    width: 18px;
                }
                .rating-star:nth-of-type(2) {
                    z-index: 4;
                    width: 36px;
                }       
                .rating-star:nth-of-type(3) {
                    z-index: 3;
                    width: 54px;
                }
                .rating-star:nth-of-type(4) {
                    z-index: 2;
                    width: 72px;
                }
                .rating-star:nth-of-type(5) {
                    z-index: 1;
                    width: 90px;
                }
                /* <-- rating star widget */

    .products {
        display: flex;
        width: 100%;
        height: 405px;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
    }
        .product-item {
            position: relative;
            display: block;
            width: 342px;
            overflow: hidden;
        }
            .p-i-1 {
                background-image: url(img/Yamaha-FG375S.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .p-i-2 {
                background-image: url(img/Yamaha-S30077.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .p-i-3 {
                background-image: url(img/Yamaha-FG-312.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .products-sale {
                text-transform: uppercase;
                position: absolute;
                right: -35px;
                margin-top: 17px;
                padding-top: 4.5px;
                width: 140px;
                height: 35px;
                background-color: #3498db;
                color:  white;
                font-size: 24px;
                text-align: center;
                font-weight: 700;
                transform: rotate(45deg);
            }
            .product-item-wrap {
                width: 270px;
                margin: 215px 0 0 32px;
            }
                .product-cost {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: black;
                    text-align: left;
                }
                    .product-cost span {
                        font-size: 18px;
                    }
                .product-button {
                    display: block;
                    width: 100%;
                    padding-bottom: 10px; 
                    padding-top: 10px;
                    outline: 2.5px solid #3498db;
                    color:  #3498db;
                    text-align: center;
                }
                    .product-button span {
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: 800;
                        line-height: 1.2;
                        letter-spacing: 1.5px;
                    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 460px;
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url(img/bottom-banner.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
    }
        .banner-button {
                display: block;
                text-transform: uppercase;
                border: 6px solid #fff;
                color: #fff;
                padding: 15px 45px;
                text-align: center;
                font-size: 30px;
                font-weight: 800;
            }
            .banner-button:hover {
               text-decoration: none;
               color: #fff;
            }
    footer {
        max-width: 1086px;
        margin: 0 auto;
    }
        .footer-menu {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 92px;
            background-color: #34495e;
            font-size: 14px;
            font-weight: 700;
        }
            .footer-menu li {
                margin-right: 35px;
            }
                .footer-menu li a {
                    color: #fff;
                }
                .footer-menu li a:hover {
                    text-decoration: none;
                    color: #fff;
                }
        .copyright {  
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            background-color: #1f7cba;
        }
            .copyright span {
                margin: 0 63px;
                color: #fff;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 400;
            }
        .bot-media-links {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 62px;
            background-color: rgba(255, 255, 255, 0.25);
        }
            .bot-media-links ul li {
                display: inline-block;
            }
                .fa-twitter {
                    padding: 3px 4.5px;
                    margin-left: 20px;
                    border: 3px solid;
                }
                .fa-tumblr {
                    padding: 3px 7px;
                    margin-left: 20px;
                    border: 3px solid;
                }
                .fa-facebook {
                    padding: 3px 7px;
                    border: 3px solid;
                }
                .a-fa-facebook a {
                    color: #536ea5;
                }
                .a-fa-facebook a:hover {
                text-decoration: none;
                color: #536ea5;
                }
                .a-fa-tumblr a {
                    color: #3d5c70;
                }
                .a-fa-tumblr a:hover {
                text-decoration: none;
                color: #3d5c70;
                }
                .a-fa-twitter a {
                    color: #48cee9;
                }
                .a-fa-twitter a:hover {
                text-decoration: none;
                color: #48cee9;
                }
/*main <-- */
@media screen and (max-width: 1080px) {
    /*header --> */
header {
        max-width: 960px;
}
    .top-navigation a {
        margin-left: 30px;
    }
    .navigation-menu {
        margin-right: 30px;
    }
    /*header <-- */
main {
    max-width: 960px;
}
    /* slider --> */
    #active label {
        width: 90px;
        height: 90px;
        margin: 0 15px;
    }
    #switch1:checked ~ #active label:nth-child(1),
    #switch2:checked ~ #active label:nth-child(2),
    #switch3:checked ~ #active label:nth-child(3) {
	    outline: 4px solid #fff !important;
    }
    #switch1:checked ~ #controls label:nth-child(3), 
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2) {
        height: 50px;
        width: 50px;
    }
    #switch1:checked ~ #controls label:nth-child(2), 
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(1){
        height: 50px;
        width: 50px;
    }
    /*slider <-- */
    .best-seller {
        height: 320px;
    }
        .b-s-wrapper {
            margin: 0 245px 0 63px;
        }
            .b-s-cost {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 35px;
                }
                    .b-s-cost span {
                        font-size: 24px;
                    }
                .a-button {
                    padding-bottom: 12px; 
                    padding-top: 12px;
                }
    .products {
        height: 350px;
    }
        .product-item {
            width: 300px;

        }
            .product-item-wrap {
                width: 200px;
                margin: 160px 0 0 32px;
            }
                .product-name {
                    font-size: 20px;
                }
                .product-by {
                    font-size: 9px;
                }
                .product-cost {
                    margin-top: 18px;
                }
                    .product-cost span {
                        font-size: 16px;
                    }
    .banner {
        height: 406px;
    }
    footer {
        max-width: 960px;
    }
    

}
@media screen and (max-width: 960px) {
    /*header --> */
header {
     max-width: 768px;
}
     .greeting-message {
         width: 60%;
    }
        .greeting-message span {
            font-size: 13px;
        }
            .ful-massage {
                display: none;
            }
            .short-massage {
                display: block;
            }
    .client-panel {
         width: 40%;
    }
    .top-navigation a {
        margin-left: 25px;
    }
        .top-navigation a img {
            max-width: 85%;
            height: auto;
        } 
    .navigation-menu {
        margin-right: 20px;
    }
    /*header <-- */
main {
    max-width: 768px;
}
    .best-seller {
        height: 320px;
    }
        .best-seller-left h1 {
            font-size: 20px;
        }
            .best-seller-left h1 i {
                font-size: 18px;
            } 
        .b-s-wrapper {
            margin: 0 150px 0 63px;
        }
    .products {
        height: 290px;
    }
        .product-item {
            width: 250px;
        }
            .product-item-wrap {
                width: 180px;
                margin: 135px 0 0 32px;
            }
                .product-name {
                    font-size: 20px;
                }
                .product-by {
                    font-size: 9px;
                }
                .product-cost {
                    margin-top: 18px;
                }
                    .product-cost span {
                        font-size: 16px;
                    }
                .product-button {
                    padding: 6px;
                }
    .banner {
        height: 327px;
    }
    footer {
        max-width: 768px;
    }
    .footer-menu {
        font-size: 12px;
    }
        .copyright span {
            font-size: 12px;
        }
    
}
@media screen and (max-width: 768px) {
    /*header --> */
header {
     max-width: 600px;
}
    .greeting-message {
         display: none;
    }
    .client-panel {
         width: 100%;
    }
    .top-navigation a {
        margin-left: 30px;
    }
        .top-navigation a img {
            max-width: 75%;
        }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 80px;
    }
        .dropdown a {
            display: inline-block;
        }
            .fa-navicon {
                display: block;
            }
        .navigation-menu {
            display: none;
            position: absolute;
            left: -65px;
            z-index: 1;
        }
            .navigation-menu li {
                display: list-item;
            }
                .navigation-menu li a {
                    min-width: 150px;
                    text-align: left;
                    background-color: #293136;
                    margin: 0;
                    padding: 6px 20px;
                    transition: 0.3s all;
                    opacity: 0.8;
                }
                    .navigation-menu li a:hover {
                        background-color: #7e8892;
                        opacity: 1;
                    }
        .dropdown:hover .navigation-menu {
            display: block;
        }
    /*header <-- */
main {
    max-width: 600px;
}
    /* slider --> */
    #active label {
        width: 70px;
        height: 70px;
        margin: 0 10px;
    }
    #switch1:checked ~ #active label:nth-child(1),
    #switch2:checked ~ #active label:nth-child(2),
    #switch3:checked ~ #active label:nth-child(3) {
	    outline: 3px solid #fff !important;
    }
    #switch1:checked ~ #controls label:nth-child(3), 
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2) {
        height: 40px;
        width: 40px;
    }
    #switch1:checked ~ #controls label:nth-child(2), 
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(1){
        height: 40px;
        width: 40px;
    }
    /*slider <-- */
    .b-s-wrapper {
        margin: 0 50px 0 63px;
    }
        .b-s-cost {
            font-size: 24px;
        }
            .b-s-cost span {
                font-size: 16px;
            }
    .products {
        justify-content: space-between;
        height: 340px;
    }
        .p-i-3 {
            display: none;
        }
        .product-item {
            width: 290px;
        }
            .product-item-wrap {
                width: 200px;
                margin: 160px 0 0 32px;
            }
                .product-name {
                    font-size: 20px;
                }
                .product-by {
                    font-size: 9px;
                }
                .product-cost {
                    margin-top: 18px;
                }
                    .product-cost span {
                        font-size: 16px;
                    }
    .banner {
        height: 256px;
    }
        .banner a {
            font-size: 24px;
        }
    footer {
        max-width: 600px;
    }
        .footer-menu {
            padding-top: 10px;
            text-align: center;
            display: list-item;
        }
            .footer-menu li {
                padding-bottom: 5px;
            }
        .copyright {
            justify-content: center;
        }
            .copyright span {
                margin: 0;
            }
            .created-by {
                display: none;
            }

}
@media screen and (max-width: 460px) {
    /*header --> */
        .dropdown {
            margin-right: 40px;
        }
        .navigation-menu {
            left: -90px;
        }
    /*header <-- */
    /* slider --> */
    #active label {
        width: 45px;
        height: 45px;
        margin: 0 6px;
    }
    #switch1:checked ~ #active label:nth-child(1),
    #switch2:checked ~ #active label:nth-child(2),
    #switch3:checked ~ #active label:nth-child(3) {
	    outline: 2px solid #fff !important;
    }
    #switch1:checked ~ #controls label:nth-child(3), 
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2) {
        height: 30px;
        width: 30px;
    }
    #switch1:checked ~ #controls label:nth-child(2), 
    #switch2:checked ~ #controls label:nth-child(3),
    #switch3:checked ~ #controls label:nth-child(1){
        height: 30px;
        width: 30px;
    }
    /*slider <-- */
}

@media screen and (max-width: 375px) {
  
    /* slider --> */

    /*slider <-- */
}